.rssImage {
  width: 45px;
  height: 45px;
  margin-left: 10px;
}

.footer {
  height: 7vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.link {
  color: #3c4043;
  text-decoration: none;
}

.link:hover {
  color: #3f51b5;
}
